.eye-icon {
    border-top-right-radius: 10rem !important;
    border-bottom-right-radius: 10rem !important;
    background-color: white;
}

.input-password {
    border-right-color: white !important;
}

#togglePassword {
    color: #d1d3e2
}

.br-none {
    border-right: none !important;
}

.bl-none {
    border-left: none !important;
}