.p-05 {
    padding: 5rem;
}

.eye-icon {
    border-top-right-radius: 10rem !important;
    border-bottom-right-radius: 10rem !important;
    background-color: white;
}

.input-password {
    border-right-color: white !important;
}

#togglePassword {
    color: #d1d3e2
}