<div class="d-flex">
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="flex-1 is-content">
            <div class="text-center">
                <p class="lead imperial-red-color m-0 title">EM CONSTRUÇÃO</p>

                <div>
                    <img src="../../../../assets/images/under-construction-amico.png">
                </div>

                <p class="text-gray-500 mb-0">Ops! Estamos trabalhando para trazer essa novidade para você.</p>
                
                <a (click)="backClicked()" class="imperial-red-color c-pointer">
                    <i class="fa fa-reply me-2"></i>
                    <span>Voltar ao Início</span>
                </a>
            </div>
        </div>
    </div>
</div>