<footer class="footer_section">
    <div class="container">
       <div class="row">
          <div class="col-md-4 footer-col">
             <div class="footer_contact">
                <h4> Fale com a gente </h4>
                <div class="contact_link_box">
                   <a href="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span> Onde estamos </span>
                   </a>

                   <a href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span> +55 1234567890 </span>
                   </a>

                   <a href="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span> marketplace@gmail.com </span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-md-4 footer-col">
             <div class="footer_detail">
                <a href="index.html" class="footer-logo">
                    Marketplace
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
                <div class="footer_social">
                   <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                   </a>
                   <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                   </a>
                   <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                   </a>
                   <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                   </a>
                   <a href="">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-md-4 footer-col">
             <div class="map_container">
                <div class="map">
                   <div id="googleMap"></div>
                </div>
             </div>
          </div>
       </div>

       <div class="footer-info">
          <div class="col-lg-7 mx-auto px-0">
             <p>
                &copy;
                <span id="displayYear"></span>
                All Rights Reserved By
                <a href="#">Marketplace</a>
                <br>
    
                Distributed By <a href="#" target="_blank">Marketplace</a>
             </p>
          </div>
       </div>
    </div>
 </footer>