@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
    display: inline-block;
    padding: $pad1 $pad2;
    background-color: $col1;
    border: 1px solid $col1;
    color: $col2;
    border-radius: $bRadius;
    transition: all 0.3s;

    &:hover {
        background-color: transparent;
        color: $col1;
    }
}

// why section

.why_section {


    .box {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 20px;
        background-color: rgb(247 68 78 / 80%);
        padding: 25px;
        border-radius: 5px;
        color: var(--white);
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

        .img-box {
            margin-bottom: 15px;

            svg {
                width: 55px;
                height: auto;
                fill: var(--white);
            }
        }
    }
}

//end why section


.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
}


// arrival section

.arrival_section {


    background-color: #d4ced0;

    .h-c-arrival {
        z-index: 4;
    }

    .arrival_bg_box img {
        width: 50%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top left;
        object-position: top left;
    }

    .heading_container {
        color: var(--secondary-color);
        margin-bottom: 10px;
    }

    .box {
        padding: 120px 45px;
        position: relative;
    }

    .arrival_bg_box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;
        }
    }

    a {
        @include hero_btn(var(--primary-color), var(--white), 10px, 45px, 0);
    }
}

.layout_padding {
    padding: 70px 0;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.news-title h2,
.heading_container.heading_center h2 {
    font-weight: bold;
    color: #002c3e;
}

// end arrival section

.br-10-rem {
    border-radius: 10rem !important;
}

.inner_page_head {
    background: #f7444e;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}

.inner_page_head h3 {
    font-size: 42px;
    font-weight: 800;
}

* {
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.news-text {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #002c3e;
    text-align: justify;
}