/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import 'app/styles/css/style-global.min.css';
@import 'app/styles/css/style-global.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* Adicionando um tema customizado ao AM */
$md-mcgpalette0: (
  50 : #eaf3fb,
  100 : #cbe0f5,
  200 : #a8ccee,
  300 : #85b8e7,
  400 : #6aa8e2,
  500 : #5099dd,
  600 : #4991d9,
  700 : #4086d4,
  800 : #377ccf,
  900 : #276bc7,
  A100 : #ffffff,
  A200 : #d1e3ff,
  A400 : #9ec5ff,
  A700 : #85b5ff,
  contrast: (50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$candy-app-primary: mat-palette($md-mcgpalette0);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme((color: (primary: $candy-app-primary,
        accent: $candy-app-accent,
        warn: $candy-app-warn,
      )));

@include angular-material-theme($candy-app-theme);

/* Adicionando uma fonte customizada ao AM */
@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
  );

@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
  background-color: #FAFAFA;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

:host {
  height: 100%
}

input[readonly],
textarea[readonly],
select[readonly] {
  pointer-events: initial;
  cursor: not-allowed !important;
}

.search-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#search-table {
  display: flex;
  justify-content: center;
  overflow-x: initial;
  margin: 0.5rem;
  border: none
}

.search-table {
  display: flex;
  justify-content: center;
  overflow-x: initial;
  margin: 0.5rem;
  border: none
}

#mat-search-button {
  margin-bottom: 1rem;
}

.registration-group {
  font-size: 14px;
}

#mat-search-button {
  margin-bottom: 1rem;
}

.registration-button-row button,
.registration-button-row a {
  margin-right: 0.5rem;
}

.registration-button-row {
  margin: 0.75rem;

}

body,
html {
  height: 100%;
  margin: 0;
}

.fc .fc-button-group>.fc-button {
  background-color: #5099dd !important;
  border-color: #5099dd !important;
}

.fc {
  font-size: 14px !important;
}

.create-button {
  background-color: #3d9f3d !important;
  color: white;
}

.cyan-button {
  background-color: #00b4ce !important;
  color: white;
}

.w-20px {
  width: 20px;
}

.success-snackbar {
  background: #3d9f3d;
  color: white;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.danger-snackbar {
  background: #f44336;
  color: white;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.warning-snackbar {
  background: #ffc107;
  color: black;

  .mat-simple-snackbar-action {
    color: black !important;
  }
}

.example-snack-bar-message {
  font-size: 14px !important;
}

.div-row-input {
  margin-top: 0.5rem;
}

.small-text {
  font-size: 10px !important;
  color: gray !important;
  font-weight: normal !important;
}

tr.hover-element-row:not(.example-expanded-row):hover {
  background: whitesmoke !important;
}

tr.hover-element-row:not(.example-expanded-row):active {
  background: #efefef !important;
}

.hover-element-row:not(.example-expanded-row):hover {
  background: whitesmoke !important;
}

.hover-element-row:not(.example-expanded-row):active {
  background: #efefef !important;
}

:host ::ng-deep.mat-spinner {
  margin-right: 0.2rem !important;
}


.fc-scrollgrid {
  z-index: 10;
  border-radius: 10px;
  border-collapse: separate !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  margin-bottom: 1rem !important;
}

.fc-scrollgrid th {
  border-top-right-radius: 10px;
}

:host ::ng-deep.mat-drawer {
  z-index: 10000000000000000 !important;
}